.histoire{
    background-color: $rouge;
    border-left: 0px;
    padding:50px;
    color:#fff;
    text-align: center;
}

@media (min-width:1024px){
    .histoire{
        max-width: 100%;
        border-radius: 100px 60px 80px 50px / 80px 120px 100px 130px;
    }
}