.preFooter{
    margin-bottom: 50px;
}
footer{
    position: fixed;
    z-index: 9999;
    bottom: 0;
    left:0;
    width: 100%;
    height: 50px;
    background-color: #000;
    color:#fff;  
    .copyright{
        span{
            display: none;
        }
    }
    #tel, #mail{
        box-sizing: content-box;
        $size : 50px;
        position: absolute;        
        top:0;
        left:50%;
        transform: translate(-50%, -50%);
        width: $size;
        height: $size;
        border-radius: $size;
        background-color: $rouge;
        border:5px solid #fff;
        text-align: center;
        line-height: $size;
    }  
    #mail{
        display: none;
    }
    #btMenu{
        width: 50px;
        height: 50px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        span{
            display: inline-block;
            width: 100%;
            height: 1px;
            background-color: #fff;      
            transition: .3s;      
        }
    }
    #btMenu.active{
        span:nth-child(1){
            transform-origin: top left;
            transform: rotate(45deg) translate(1px, -6px);
        }
        span:nth-child(2){
            display: none;
        }
        span:nth-child(3){
            transform-origin: top left;
            transform: rotate(-45deg) translate(1px, 4px);
        }
    }
    img.logoCreateur{
        width: 25px;
        display: inline-block;
        vertical-align: middle;
    }
}
@media (min-width: 640px){
    footer{
        line-height: 50px;
        #tel{
            display: none;
        }
        #mail{
            display: block;
        }
        .copyright{
            span{
                display: inline-block;
            }
        }
        #btMenu{
            display: none;
        }
    }
    
}