@import 'vars';
@import 'cookies';
@import 'header';
@import 'nav';
@import 'accueil';
@import 'atouts';
@import 'equipe';
@import 'agences';
@import 'map';
@import 'formInput';
@import 'footer';
*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
    background-color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    color:#000000;
}
#graph{
    position: absolute;
    top: 150px;
    left:-50px;
    width: 250px;
    height: 450px;
    background-color: $rouge;
    z-index: -1;
    opacity: .3;
    overflow: hidden;
}
#graph:after{
    content:"";
    position: absolute;
    top:-25%;
    left:60%;
    width: 100%;
    height: 150%;
    background-color: #fff;
    border-radius: 150%;
}
main{
    position: relative;
    max-width: 62.5rem;
    margin:auto;
    min-height: 100%;
    padding-bottom: 50px;
    z-index: 1;
}
a{
    color: $rouge;
}
a.bt{
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 1.5rem;
}
a.bt:after{
    content:"\2192";
    margin-left: 10px;
    transition: .3s;
}
a.bt:hover:after{
    margin-left:20px;
}
a.btBlanc{
    // background-color: #fff;
    // color:$rouge;
    color:#fff;
}
h1{
    position: relative;
   padding-left: 10px;
}
h1:before{
    content:"";
    position: absolute;
    z-index: -1;
    top:0;
    left:0;
    width: 120px;
    height: 25px;
    border-top:3px solid $rouge;
    border-left:3px solid $rouge;
}
h2{
    display: inline-block;
    position: relative;
    padding-right: 10px;
}
h2:after{
    content:"";
    display: inline-block;
    position: relative;
    bottom:-5px;
    width: 10px;
    height: 10px;
    border-bottom:2px solid $rouge;
    border-right:2px solid $rouge;
}
section{
    padding:50px 0;
}

/* CLASS */
.flexEnd{
    display: flex;
    justify-content: flex-end;
}
.texteCenter {
    text-align: center;
}
.textRight {
    text-align: right;
}
@media (min-width:640px){
    a.bt{
        font-size: 1.3rem;
    }
}