@import 'vars';
@import 'header';
@import 'nav';
@import 'footer';
html, body{
    height: 100%;
    background-color: #fff;
}
main{
    min-height: 100%;
    margin-bottom: 50px;
}
a{
    text-decoration: none;
    color: inherit;
}
/* CLASS */
.flexEnd{
    display: flex;
    justify-content: flex-end;
}
.texteCenter {
    text-align: center;
}
.textRight {
    text-align: right;
}